/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
Style Sheet and Assigment Requirements for the Brian Reboot Website for CMST 385 - UMGC
HTML REQUIREMENTS
01: PROPER HTML5 PAGE STRUCTURE & SYNTAX: Your web pages must follow proper HTML5 page structure as listed by w3Schools.
02: VALIDATION: Your web page AND CSS should validate WITHOUT ERRORS using the W3c HTML validator at http://validator.w3.org and W3c CSS validator at http://jigsaw.w3.org/css-validator/.
03: NAMING CONVENTION: Save/Name your webpages appropriately and your External CSS file as style.css.
04: IMAGES: Include at least Four (4) images. Images should be uploaded and linked from an images folder within the project4 folder on the Aloft Web server. Cite your source in your image captions. Optimize your images for the web so that their file sizes are 100k or lower and no greater than 600px. Wrap text around your images using CSS floats IF your design needs text wrap. Include padding so the text doesn't bump up against the edges of your images. Clear your floats. Hyperlinked images: Add a hyperlink to at least two of your images. That means that you can click on the image and something happens (you go to a larger version of the image, to a webpage, or to an e-mail link, etc.).

CSS REQUIREMENTS:
a. H1 Heading Style (color, font family, center alignment, and font size). - Covered in Header Styling
b. H2 Heading Style (color, font family, center alignment, and font size). - Covered in Header Styling
c. Paragraph Style (color, font-family, and font-size, margin). - Covered in Header Styling
d. Create at least one ID Attribute. - the header content has a Highlight-Menu ID Attribute
e. Create at least one CLASS Attribute - Throughout Style.CSS there are various Class Attributes
f. Body Add a background color and text color that is easy to read together (e.g. Foreground-Background Segregation: Light-colored text is easier to read on a dark-colored background and dark-colored text is easier to read on a light-colored background). Set the font family to Verdana with fallbacks to Arial and sans-serif.
g. Page Header and Footer (Create styles for both). - Header and Foot Styles
h. Wrapper or Content Container (Create a Wrapper or Content Container that keeps your content from bumping into the sizes of the web browser). - 
i. Navigation (Create a style to Center your navigation). Your navigation should include links to all four pages of your website. - Covered in Menu Styling

FORMATTING REQUIREMENTS (HTML and CSS):
01: FONT COLORS: Use at least two font colors that are visually appealing and easy to see and read (this can often be achieved with text color and link color, for example).
02: ITALICS: Italicize at least one word to show emphasis.
03: HORIZONTAL LINE: Include at least one Horizontal Line.
04: LISTS: Include an Ordered and Unordered List.
05: TABLE: Include at least one Table (invisible or visible). The Table must be used to display data and not to style any of the pages.
06: OVERALL LAYOUT: Your website must demonstrate an understanding of Layout and Design principles (Contrast, Proximity, Alignment, Repetition, Unity, etc).
07: MAILTO LINK: Include at least one Mailto Link to your e-mail address.
-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
/* General Style*/
* {
	box-sizing: border-box;
}

/* Style for Body - Requirement F*/
body {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: black;
	color: white;

}

/* Style the Header Content - Nav/Menu Bar and Header - Requirement G, Formatting Requirement 04*/
/* Start Nav/Menu Bar and Header Page Style */
.menu {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
	
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.menu li {
	float: left;
}

.menu li a {
	display: block;
	color: white; /* Style the Default Color of the Menu Link to White to Fit with Black Background and Hover Background Color  - Requirement Formating 01 - Two Font Colors*/
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.menu li a:hover {
	background-color: grey;
}
/* Style the Header content - Requirement D*/
#highlight-menu {
	background-color: white; 
	color: black; /* Change the Color of the Menu Link to Black to Fit with White Background when selected and on page - Requirement Formating 01 - Two Font Colors*/
}

/* Style the Header content - Requirement G, A, B, C*/
div.header {
    background-color: black;
    overflow: hidden;
}

div.header h2{
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
}

div.header h1{
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
}

div.header p{
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
}

/* End Nav/Menu Bar and Header Style */


/* Style the Main/Home content */
/* Start Main/Home content Style */
div.home-content {
	background-image: url("https://cmst385-jrobinette2.azurewebsites.net/project4/imgs/homebg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	text-align: center;
	width: 100%;
	height: 1000px;
}
/* End Main/Home content Style */


/* Responsive Table for Music Page - Formatting Requirement 04, 05 */
/* Start Music Page Style */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	}

th, td {
	text-align: left;
	padding: 8px;
}

ul.table-list1 {
	list-style-type: square;
}

ol.table-list2 {
	list-style-type: decimal;
}

img.responsive {
	width: 100%;
	max-width: 400px;
	height: auto;
}
/* End Music Page Style */

/* Style the Footer Content - Requirement G */
/* Start Footer Style */
.footer {
	background-color: black;
	padding: 10px;
	color: white;
	text-align: center;
}
/* End Footer Style */